.select-menu {
    position: relative;
    .select-menu-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: var(--cor-azul);
        color: var(--cor-texto-claro);
        cursor: pointer;
        .select-menu-icon {
            margin-left: 10px;
            transition: transform 0.3s ease;
            &.open {
                transform: rotate(180deg);
            }
        }
    }
    .select-menu-options {
        position: absolute;
        top: 110%;
        left: 50%;
        text-wrap: nowrap;
        transform: translateX(-50%);
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: var(--cor-fundo-tela);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
        font-size: 14px;
        z-index: 1000;
        max-height: 200px;
        overflow-y: auto;
        .select-menu-option {
            padding: 7px;
            cursor: pointer;
            &:hover {
                background-color: #f0f0f0;
            }
        }
    }
}
