/* Gosto de usar css nesting, mas evito usar muito para não deixar o css muito complexo e difícil de ler. */
#root > div {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80%;
}

header {
  display: flex;
  ul {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    list-style: none;
    margin-left: 20px;
    li {
      background-color: color-mix(in srgb, var(--cor-fundo-pasta), var(--cor-botao) 50%);
      color: var(--cor-texto-claro);
      min-width: 180px;
      display: flex;
      justify-content: center;

      padding: 10px 20px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      cursor: pointer;
      transition: all 0.1s ease-in-out;
      &:hover {
        transform: scaleY(1.2) translateY(-3px);
        background-color: var(--cor-botao-hover);
      }
    }
  }
}

main {
  display: flex;
  position: relative;
  flex: 1;
  align-items: center;
  justify-content: space-around;
  padding: 40px 30px;
  gap: 20px;
  height: 550px;
  & > * {
    z-index: 1;
  }
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    /* simulação de uma pasta 3D aberta*/
    background: linear-gradient(to bottom, var(--cor-fundo-pasta), #00000039);
    transform: perspective(1000px) rotateX(-3deg);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
  }
}
.gerenciar-pessoas-cards {
  display: flex;
  flex: 1;
  background-color: var(--cor-fundo-tela);
  box-shadow: inset -1px -1px 6px 3px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

  &.gerenciarPessoas {
    height: 100%;

    .lista-pessoas {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 20px;
      gap: 10px;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      .pessoa {
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 10px 20px;
        width: 70%;
        gap: 20px;
        border-radius: 5px;
        background-color: var(--cor-fundo-tela);
        box-shadow: inset -1px -1px 6px 3px rgba(0, 0, 0, 0.3);
        .idade {
          margin-left: auto;
        }
        button {
          max-width: 40px;
          background-color: transparent;
          border: none;
          color: var(--cor-botao);
          font-size: 20px;
          cursor: pointer;
          transition: all 0.1s ease-in-out;
          &:hover {
            transform: scaleY(1.05) translateY(-1px);
            color: var(--cor-botao-hover);
          }
        }
      }
    }
  }
}
.criar-excluir-pessoa {
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  .gerenciar-pessoas-cards {
    width: 100%;
    flex: 1;
    max-height: 100%;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  input,
  select,
  button {
    padding: 10px;
    border-radius: 5px;
  }
  input,
  select {
    border: 2px solid var(--cor-linha);
    background-color: var(--cor-fundo-tela);
    color: var(--cor-texto-escuro);
    font-size: 16px;
  }
  select {
    -webkit-appearance: none;
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    background-image: url("https://www.svgrepo.com/show/80156/down-arrow.svg");
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: calc(100% - 16px);
  }
  button {
    border: none;
    background-color: var(--cor-botao);
    color: var(--cor-texto-claro);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    &:hover {
      transform: scaleY(1.1) translateY(-2px);
      background-color: var(--cor-botao-hover);
    }
  }
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--cor-fundo-pasta);
  box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 600px;
  text-align: center;
  max-width: calc(100% - 40px);
  transition: all 0.2s ease-in-out;
  &.hide {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.4);
  }
  .botoes {
    display: flex;
    gap: 20px;
    width: 100%;
    button {
      padding: 10px 20px;
      flex: 1;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      transition: all 0.1s ease-in-out;
      &.botao-cancelar {
        background-color: var(--cor-linha);
        color: var(--cor-texto-escuro);
        &:hover {
          transform: scaleY(1.1) translateY(-2px);
          background-color: color-mix(in srgb, var(--cor-linha), #000 10%);
        }
      }
    }
  }
  &.popup-excluir-pessoa {
    .botoes {
      .botao-excluir {
        background-color: var(--cor-vermelho);
        color: var(--cor-texto-claro);
        &:hover {
          transform: scaleY(1.1) translateY(-2px);
          background-color: color-mix(in srgb, var(--cor-vermelho), #000 10%);
        }
      }
    }
  }
  &.popup-lancar-transacao {
    width: auto;
    min-width: 900px;
    text-align: left;
    form {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      p {
        padding-left: 10px;
      }
      .form-left {
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex: 1;
        .data {
          display: flex;
          gap: 10px;
          input {
            padding: 10px;

            flex: 1;
            border-radius: 5px;
            border: 2px solid var(--cor-linha);
            background-color: var(--cor-fundo-tela);
            color: var(--cor-texto-escuro);
            font-size: 16px;
          }
        }
        select {
          width: 100%;
        }
      }
      .descricao{
        display: flex;
        flex-direction: column;
        width: fit-content;
        flex:1;
        gap: 10px;
        textarea {
          padding: 10px;
          border-radius: 5px;
          border: 2px solid var(--cor-linha);
          background-color: var(--cor-fundo-tela);
          color: var(--cor-texto-escuro);
          font-size: 16px;
          resize: none;
          width: 100%;
          height: 100%;
        }
      }
    }
    .botoes {
      .botao-lancar {
        background-color: var(--cor-botao);
        color: var(--cor-texto-claro);
        &:hover {
          transform: scaleY(1.1) translateY(-2px);
          background-color: var(--cor-botao-hover);
        }
      }
    }
  }
}
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.lancar-transacoes-cards {
  display: flex;
  flex: 1;
  max-height: 100%;
  width: 50%;
  background-color: var(--cor-fundo-tela);
  box-shadow: inset -1px -1px 6px 3px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  & > .header {
    border-bottom: 1px solid var(--cor-linha);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    h2 {
      margin-left: 20px;
    }
    .lancar-transacao {
      display: flex;
      gap: 5px;
      margin-right: 20px;
      padding: 10px 15px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      transition: all 0.1s ease-in-out;
      background-color: var(--cor-botao);
      color: var(--cor-texto-claro);
      font-size: 16px;
      &:hover {
        transform: scaleY(1.1) translateY(-2px);
        background-color: var(--cor-botao-hover);
      }
    }
  }
  & > .transacao-cards-header {
    display: grid;
    grid-template-columns: 200px 1fr 120px 80px 130px 40px;
    gap: 15px;
    padding: 10px 60px;
    padding-bottom: 0;
    width: 100%;

    p {
      margin: 0;

      color: var(--cor-texto-mutado);
      &.nome {
        min-width: 25ch;
      }

      &.valor {
        text-align: center;
      }
    }
  }
  & > .transacao-cards {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-auto-rows: minmax(200px, auto); */
    padding: 20px;
    padding-top: 0px;
    gap: 10px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    &::before {
      content: "";
      position: sticky;
      top: 0;
      height: 20px;
      width: 103%;
      background: linear-gradient(to bottom, var(--cor-fundo-tela) 60%, transparent);
      z-index: 10;
      flex-shrink: 0;
    }
    .transacao-card {
      display: flex;
      flex-direction: column;
      box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      padding: 10px;
      width: 100%;
      .header {
        position: relative;
        display: grid;
        grid-template-columns: 200px 1fr 120px 80px 130px 40px;
        gap: 15px;
        padding-right: 25px;
        align-items: center;
        justify-content: space-between;
        .idCard {
          display: flex;
          align-items: center;
          justify-content: center;
          max-width: 120px;
          border: 1px solid var(--cor-linha);
          padding: 3px 5px;
          border-radius: 5px;

          gap: 5px;
          .id {
            font-size: 12px;
            color: var(--cor-texto-mutado);
          }
          .copyButton {
            background-color: transparent;
            border: none;
            color: var(--cor-texto-mutado);
            cursor: pointer;
            transition: all 0.1s ease-in-out;
            &:hover {
              transform: scaleY(1.1) translateY(-2px);
              color: var(--cor-texto-mutado);
            }
          }
        }
        .nome {
          min-width: 25ch;
        }
        .valor {
          padding: 3px 5px;
          border-radius: 5px;
          width: fit-content;
          min-width: 80px;
          justify-self: center;

          text-align: center;
          color: var(--cor-texto-claro);
          &.despesa {
            background-color: color-mix(in srgb, var(--cor-vermelho), transparent 30%);
          }
          &.receita {
            background-color: color-mix(in srgb, var(--cor-verde), transparent 30%);
          }
        }
        .data {
          font-size: 12px;
          color: var(--cor-texto-mutado);
        }
        .hora {
          font-size: 12px;
          color: var(--cor-texto-mutado);
        }
        .descricao-btn {
          position: absolute;
          right: 0;
          background-color: transparent;
          border: none;
          color: var(--cor-texto-mutado);
          cursor: pointer;
          transform: translateY(3px);
          transition: all 0.1s ease-in-out;
          &:hover {
            transform: scaleY(1.1) translateY(1px);
            color: var(--cor-texto-mutado);
          }
          &.open {
            transform: rotate(180deg) translateY(1px);
            &:hover {
              transform: rotate(180deg) scaleY(1.1) translateY(3px);
            }
          }
        }
      }
      .descricao-container {
        overflow: hidden;
        max-height: 0;
        transition: all 0.5s ease-in-out;
        &.open {
          max-height: 150px;
        }
        .descricao {
          margin: 10px 0 0 0;
          background-color: var(--cor-fundo-pasta);
          padding: 10px;
          flex: 1;
          border-radius: 5px;
        }
      }
    }
  }
}

.painel-geral {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 20px;
  .controls {
    position: absolute;
    right: 0px;
    top: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
    padding-right: 20px;
    margin-bottom: 10px;
  }
  .informacoes-totais {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    border-radius: 15px;
    margin-top: 20px;
    width: 75%;
    .info-cards {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      flex: 1;
      border-radius: 10px;
      background-color: color-mix(in srgb, var(--cor-azul), transparent 20%);
      box-shadow: inset -1px -1px 6px 3px rgba(0, 0, 0, 0.3);
      padding: 6px;
      overflow: hidden;
      .info-cards-title {
        color: var(--cor-texto-claro);
        padding-bottom: 5px;
      }
      .info-cards-value {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 50px;
        flex: 1;
        background-color: var(--cor-fundo-tela);
        border-radius: 6px;
        box-shadow: inset -1px -1px 6px 3px rgba(0, 0, 0, 0.3);
      }
      &.total-receitas {
        color: color-mix(in srgb, var(--cor-verde), transparent 30%);
      }
      &.total-despesas {
        color: color-mix(in srgb, var(--cor-vermelho), transparent 30%);
      }
      &.saldo-liquido-geral {
        color: var(--cor-texto-mutado);
      }
    }
  }
  .informacoes-individuais {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-height: 80%;
    background-color: var(--cor-fundo-tela);
    box-shadow: inset -1px -1px 6px 3px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 20px 10px;
    width: 100%;
    .header {
      display: grid;
      grid-template-columns: 1fr 170px 250px 100px;
      gap: 15px;
      margin: 0 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid var(--cor-linha);
    }
    .informacoes-individuais-cards {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 10px;
      flex: 1;

      max-height: 100%;
      overflow-y: auto;
      .informacoes-individuais-card {
        display: grid;
        grid-template-columns: 1fr 170px 170px 150px;
        gap: 15px;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.3);
        .saldo {
          text-align: center;
          color: var(--cor-texto-claro);
          padding: 3px 5px;
          border-radius: 5px;
          align-self: center;
          justify-self: center;
          width: fit-content;
          &.negativo {
            background-color: color-mix(in srgb, var(--cor-vermelho), transparent 30%);
          }
          &.positivo {
            background-color: color-mix(in srgb, var(--cor-verde), transparent 30%);
          }
        }
      }
    }
  }
}
