#root > div {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80%;
  header {
    display: flex;
    max-height: 80px;
    ul {
      display: flex;
      gap: 5px;
      justify-content: space-between;
      list-style: none;
      li{
        background-color: var(--cor-primaria);
        color: var(--cor-texto-claro);
        padding: 10px 20px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
        &:nth-child(2){
          filter: brightness(0.8);
        }
        &:nth-child(3){
          filter: brightness(0.6);

        }
        &:hover{
          filter: brightness(1.1);
          transform: scaleY(1.2) translateY(-3px);
        }
      }
    }
  }
  main{
    flex: 1;
    background-color: var(--cor-fundo-postit);
    border-radius: 15px;
  }

}
