#root > div {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80%;
  header {
    display: flex;
    max-height: 80px;
    ul {
      display: flex;
      gap: 5px;
      justify-content: space-between;
      list-style: none;
      margin-left: 20px;
      li{
        background-color: color-mix(var(--cor-fundo-pasta), var(--cor-azul) 50%);
        color: var(--cor-texto-claro);
        min-width: 180px;
        display: flex;
        justify-content: center;

        padding: 10px 20px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
        &:hover{
          transform: scaleY(1.2) translateY(-3px);
        }

      }
    }
  }
  main{
    flex: 1;
    background-color: var(--cor-fundo-pasta);
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.4);
    padding: 20px;
  }

}
