:root {
    /* Cores Base da Paleta */
    --cor-fundo-pasta: oklab(85% -0.00195 -0.0049); /* cor do fundo do card um pouco mais escuro */
    --cor-cards: oklab(95% -0.00195 -0.0049); /* cor do card */
    --cor-azul: #235789; /* Azul Escuro */
    --cor-laranja: #ff934f; /* Laranja */
    --cor-vermelho: #C52233; /* Vermelho */
    --cor-verde: #09bc8a; /* Verde */
    --cor-roxo: #A42CD6; /* Roxo */
    --cor-texto-escuro: #161925; /* Preto Azulado */
    /* Cores de Apoio de UI */
    --cor-fundo-tela: #e9ecef; /* Cinza levemente mais escuro para destacar o card branco */
    --cor-texto-mutado: #5c677d; /* Cinza para textos secundários */
    --cor-linha: rgba(22, 25, 37, 0.08);
    --cor-linha-escuro: oklab(18.622% 0.00143 -0.0241 / 0.3);

    --cor-primaria: var(--cor-azul);
    --cor-botao: var(--cor-primaria);
    --cor-botao-hover: color-mix(var(--cor-primaria), #000 10%);
    --cor-texto-claro: var(--cor-fundo-tela);
}
#root {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-fundo-tela);
    color: var(--cor-texto-escuro);
    font-family:
        "Inter",
        -apple-system,
        BlinkMacSystemFont,
        sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--cor-linha);
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--cor-primaria);
}
::-webkit-scrollbar-thumb:active {
    background-color: var(--cor-botao-hover);
}
::-webkit-scrollbar-track {
    background-color: var(--cor-fundo-tela);
}
